:root {
  --container-width: 1920px;
  --main-color: #cf7dbc;
  /* --main-color: #df49a6; */
  --main-model-color: #efcdec;
  /* --main-model-color: #ff7eee; */
  --dark-color-one: #23232e;
  --dark-color-two: #292c3f;
  --dark-color-three: #2f3747;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  max-width: var(--container-width);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color-one);
}

#root {
  flex-grow: 1;
  width: 100%;
  max-width: var(--container-width);
}

main {
  min-height: 100vh;
  height: auto;
  color: #fff;
}

#loader {
  margin: 25% auto;
  display: block;
}

::selection {
  background-color: var(--main-color);
}

.none {
  display: none;
}

.filtered {
  visibility: hidden;
  opacity: 0.1;
  order: 1;
  transition: all .3s ease;
}

.hidden {
  visibility: hidden;
}

.error {
  margin: 5% auto;
  padding: 5%;
  text-align: center;
  font-size: 150%;
  color: var(--main-model-color);
  background-color: var(--dark-color-two);
}