:root {
  --container-width: 1920px;
  --main-color: #df49a6;
  --main-model-color: #ff7eee;
  --second-color: #23232e;
  --second-model-color: #292c3f;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: var(--container-width);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
}

#root {
  /* display: flex;
  flex-direction: column; */
  flex-grow: 1;
  width: 100%;
  max-width: var(--container-width);
  /* color: #efcdec; */ /* Color precioso */
}

main {
  min-height: 100vh;
  height: auto;
  color: #fff;
}

#loader {
  margin: 20% auto;
  display: block;
}

::selection {
  background-color: var(--main-model-color);
}

.none {
  display: none;
}

.filtered {
  visibility: hidden;
  opacity: 0.1;
  order: 1;
}

.hidden {
  visibility: hidden;
}

.error {
  margin: 5% auto;
  padding: 5%;
  text-align: center;
  font-size: 150%;
  color: var(--main-model-color);
  background-color: var(--second-model-color);
}