:root {
  --main-color: ;
  --main-model-color: ;
  --container-width: 1920px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*, *::before, *::after { box-sizing: inherit; }

body {
  margin: 0;
  max-width: var(--container-width);
  overflow-x: hidden;
  display: flex;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .9);
  transition: transform .5s ease;
  transform: translate(100%, 0);
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  top: 1rem;
  right: 1rem;
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}

.search-form {
  margin-top: 5rem;
}

.home-article {
  width: 80%;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.home-card {
  max-width: 100%;
}