:root {
  --main-color: ;
  --main-model-color: ;
  --container-width: 1920px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  max-width: var(--container-width);
  overflow-x: hidden;
  display: flex;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fff;
}

.header h1, .search-form {
  margin-left: 2vw;
}

.search-form {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
}

.search-form input {
  margin-left: .2rem;
}

.nav-form {
  padding: .2rem;
  position: relative;
  width: 5rem;
  text-align: center;
  border: thin solid #000;
}

.ul-form {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  transition: all .5s ease-in-out;
}

.ul-form.is-active {
  margin-top: .5rem;
  max-height: 4.5rem;
}

.nav-form li {
  list-style: none;
  height: 2rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: thin solid #000;
  background-color: #fff;
}

.nav-form span, .nav-form li:hover {
  cursor: pointer;
}

.panel {
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, .9);
  transition: transform .5s ease;
  transform: translate(100%, 0);
}

.panel a {
  padding: 4rem;
  font-size: 200%;
  font-weight: bolder;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  justify-content: center;
}

.panel.is-active {
  transform: translate(0, 0);
  opacity: 1;
}

.panel-btn {
  position: fixed;
  z-index: 999;
  top: 1rem;
  right: 2vw;
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
}

.home-article {
  margin-top: 3rem;
  width: 90%;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.home-article aside {
  margin-top: 2rem;
  font-size: 110%;
}

.home-card {
  min-width: 280px;
  width: 20rem;
}